
main {
    display: flex;
  }
  
  header {
    display: flex;
    flex-direction: column;
    padding: 25px;
    border-style: solid;
    border-color: red;
  }
  
  nav {
    border-style:  solid;
    border-color: green;
    padding: 25px;

    a {
        display: block;
    }
  }

  .hide {
      display: none;
  }
  
  
  body {
      /* background-image: url("/src/image/background.jpg"); */
  }
  
  
  .fish-profiles {
  /* .image-container { */
    justify-content: flex-start;
    flex-wrap: wrap;
    position: relative;
  }
  
  .fish-profiles img {
  /* .image-container img { */
  
    width: 150px;
    height: 150px;
    /* border: solid #5B6DCD 10px; */
    transition: .5s;
  }
  
  
  
  .fish-profiles img:hover { 
  /* .image-container img:hover {  */
    transform: scale(1.15);
    box-shadow: 0 25px 40px rgba(0,0,0,.5);
    filter: brightness(125%);
    cursor: pointer;
  }
  

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px; 
    right: 0px;
    z-index: 10;
  }

  .profile {
    position: relative;
  }

  .profile h3 {
    pointer-events: none;
      opacity: 0;
      transition: .5s;
      text-align: center;
      color: white;
      background-color: rgba(0,0,0,0.5);

  }


  .profile:hover h3 {
      opacity: 1;
  } 
  
  
  .visible {
      display:flex;
    z-index: 999;
  }

  .invisible {
      display:none;
  }
  
  #single-fish-info-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #single-fish-image {
      
  }
  
  #fish-name {
    font-size: 50px;
    margin-left: 20px;
  }
  
  #fish-location li, #fish-description li {
    list-style-type: none;
  }
  
  h2 {
    margin-left: 25px;
  }