

body {
  background-image: url("../images/background.jpg");
  background-size: cover;;
}


button:disabled {
  background-color: gray;
  cursor: not-allowed;
}

header {
  padding: 25px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  background-color: black;
  border: solid white;

  .right-header {
    display: flex;
    justify-content: center;
    align-items: center;


    input[type=search] {
      margin: 10px;
      text-align: center;
      border-radius: 60%;
      background-color: rgb(193, 228, 242);
      padding: 30px;
      border: 5px solid white;
    }
  }


  img {
    max-height: 80px;
    fill: white;
  }
}

nav {
  border-style: solid;
  background-color: white;
  padding: 5px;

  margin-right: 20px a {
    display: block;
  }
}

li {
  font-size: 25px;
  margin-right: 40px;
  a {
    text-decoration: none;
  }
}

body {
  font-family: sans-serif;
  font-size: 25px;
  position: relative;
}

.top-header {
  display:flex;
  list-style-type: none;
  li a{
    text-decoration: none;
    cursor: pointer;
    margin-top: 30px;

    color: rgb(51, 51, 51);
    padding: 10px 25px;
    width: 45px;
    height: 10px;
    border-radius: 24px;
    background-color: white;
  }
}

.hide {
  display: none;
}

.fish-profiles {
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.fish-profiles img {
  object-fit: contain;
  width: 300px;
  height: 150px;
  transition: .5s;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
}

.profile {
  position: relative;
  border: 8px solid black;
}

.profile:hover {
  transform: scale(1.02);
  box-shadow: 0 15px 15px rgba(0, 0, 0, .5);
  filter: brightness(125%);
  cursor: pointer;
  background-color: black;
  transition: 1s;
  z-index: 5
}

.profile h3 {
  pointer-events: none;
  opacity: 0;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 5px;

}


.profile:hover h3 {
  opacity: 1;
}


.visible {
  display: flex;
  z-index: 999;
}

#max-error {
  color:red;
}

.invisible {
  display: none;
}

.svg-container.invisible { 
  display: none;
}

#single-fish {
  justify-content: center;
  align-content: center;
  padding: 30px;

  img {
    width: 100%;
  }
}



.image-container {
  max-width: 900px;
  display: flex;
  align-items: center;
  justify-content: center;
  ;
  background-color: rgb(173,217,230);
  border: white solid 20px;
  padding: 20px;
  align-items: center;
  justify-content: center;
  width: 50%
}

#fish-info-container {
  max-width: 900px;
  margin-left: 30px;
  padding: 30px;
  border: white solid 20px;
  padding: 20px;
  background-color: lightblue;
  width: 50%
}


#fish-name {
  font-weight: bold;
  font-size: 50px;
  margin-left: 20px;
}

#fish-location li,
#fish-description li {
  margin-left: 35px;
}

h2 {
  font-size: 40px;
  margin-left: 25px;
}


.flex-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.svg-container {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 100%;
  background-color: white;
  // margin-top: 30px;
  border: 4px solid black;


}

.legend-row {
  display: flex;
}


button {
  cursor: pointer;
  margin-top: 30px;
  margin-left: 30px;
  color: rgb(51, 51, 51);
  padding: 10px;
  border-radius: 24px;
  border: 4px solid black;
  background-color: white;
}


.tick line {
  display:none;
}

.axis {
  font-size: 30px;
}

.tick {
  font-size: 25px;
}

span {
  display: inline-block;
  width: 25px;
  height: 25px; 

}


.legend {
  display: flex;
  flex-direction: column;
}

.legend-title {
  font-weight: bold;
  text-decoration: underline;
}

.legend-values {
  display:flex;
}

text.x.label, text.y.label {
  font-size: 40px;
}




//temporary height and width
.legend-container {
  width:400px;
  display:flex;
  flex-direction: column;
  padding: 20px;
  margin-bottom: 6px;
  border: 2px solid black;
  

  li {
    display:flex;
    list-style-type: none;
    position:relative;
    margin-bottom: 5px;
  }

  li p {
    margin-top: -8px;
    margin-left: 5px;
  }

  li .legend-text {
      display:inline-block
  }

  .box {
    display:flex;
    height: 20px;
    width: 20px;
    border: 2px solid;  
  }

  .color-1{
    background-color: green;
  }

  .color-2{
    background-color: lightgreen;
  }

  .color-3 {
    background-color: yellow;
  }

  .color-4{
    background-color: orange;
  }

  .color-5 {
    background-color: red;
  }

  .color-6 {
    background-color: black;;
  }


  
}

.footer {
  margin-top:10px;
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height:200px;
  background-color: black;
  
  p {
    color: white;
    list-style-type: none;
    font-size: 18px;
    padding-bottom: 5px;
  }
}

.icons {
  display:flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 65px;
}

.kick-icon {
  width: 65px;
  background:white;
}



@media (max-width: 1360px) {
  header {
    display: flex;
    flex-direction: column;
  }
  // .fish-search {
  //   width: 100px;
  //     display:none;
  // }
 


  #fish-info-container {
    max-width:100%;
    width: 100%;
    flex-shrink: 2;
    margin-left:0px;
    
  }

  #single-fish {
    display:flex;
    flex-direction: column;
    align-items: center;

  }
  .image-container {
    max-width: 100%;
    width:100%;
    flex-shrink: 0;
  }

  #single-fish.invisible{
    display: none;
  }
  
}

@media (max-width: 796px) {

  button {
    margin-left: 0px;
  }

  .button {
    display:flex;
    justify-content: center;
  }

  #fish-name {
    font-size: 20px;
    margin-left: 0px;
  }

  .top-header {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    li {
      margin-bottom: 30px;
    }
  }
  .fish-search {
    display:none;
  }
  .right-header {
    img {
      display:none;
    }
  }

  #fish-location-title {
    font-size:20px;
    margin-left: 0px;
  }

  #fish-location ul {
    padding:10px;
  }

  #fish-location ul li {
    font-size:20px;
    margin-left: 0px;
    margin-right: 0px;
  }

  #fish-location li {
    font-size:20px;
    margin-left: 0px;
    margin-right: 0px;
    list-style-type: none;
  }

  #fish-description-title {
    font-size: 20px;
    margin-left:0px;
  }

  #fish-description{
    li {
      font-size: 20px;
      margin-left: 0px;
      margin-right: 0px;
      list-style-type: none;
    }
   
    ul {
      padding: 10px;
  }
  }

  #single-fish.invisible{
    display: none;
  }

  .legend-container {
    width:300px;
    margin-bottom: 40px;

    li p {
      font-size: 18px;
      margin-top: -3px
    }

  }
  .instructions-container {
  
    h2 {
      font-size:20px
    }
  
    p {
      font-size: 20px;
    }

   

    li {
      font-size: 15px;
      list-style: none;
      margin-left:10px;
      margin:0px;
    }
    ol {
      padding: 0px;
      margin-top:0px;
    }

  
  }

  svg {
    margin-left: -90px;
    margin-top: -200px;
  }

  text.x.label, text.y.label {
    font-size:30px;
  }

  text.x.label {
    position:relative;
    bottom: 300px;
  }
}

// instructions page
.instructions-container {
  margin: 40px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border: 10px solid black;
  

  h2 {
    margin: 10px 25px;
  }

  p, li {
    padding: 5px;
    color: black;
    margin: 20px;
    margin-left:15px;
    list-style: none;;
  }

  .underline {
    text-decoration: underline;
  }

  p {
    font-size: 25px;
  }

}