body {
  font-family: sans-serif;
  font-size: 25px;
}

header {
  padding: 25px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-style: solid;
  border-width: 1px;
  background-color: black;
  border: solid yellow;

  .right-header {
    display: flex;
    justify-content: center;
    align-items: center;

    
    input[type=search] {
      margin: 10px;
      text-align: center;
      border-radius: 60%;
      background-color: rgb(193,228,242);
      padding: 30px;
      border: 5px solid white;
    }
  }
  

  img {
    max-height: 80px;
    fill: white;
  }
}







nav {
  border-style: solid;
  background-color: white;
  padding: 5px;

  margin-right: 20px a {
    display: block;
  }
}

li {
  font-size: 30px;
  margin-right: 40px;

  a {
    text-decoration: none;
  }
}


.hide {
  display: none;
}


body {
  background-image: url("/src/image/background.jpg");
  background-size: cover;
}

.fish-profiles {
  /* .image-container { */
  justify-content: center;
  flex-wrap: wrap;
  position: relative;
}

.fish-profiles img {
  /* .image-container img { */

  width: 150px;
  height: 150px;
  /* border: solid #5B6DCD 10px; */
  transition: .5s;
}






.center {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 10;
}

.profile {
  position: relative;
  border: 8px solid black;
}

.profile:hover {
  transform: scale(1.10);
  box-shadow: 0 25px 40px rgba(0, 0, 0, .5);
  filter: brightness(125%);
  cursor: pointer;
  background-color: black;
  z-index: 5
}

.profile h3 {
  pointer-events: none;
  opacity: 0;
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 5px 5px;

}


.profile:hover h3 {
  opacity: 1;
}


.visible {
  display: flex;
  z-index: 999;
}

.invisible {
  display: none;
}

#single-fish {
  justify-content: center;
  align-content: center;
  padding: 30px;
  border: green;
}



#single-fish-image {
  width: 1000px;
  height: 1000px;
  max-height: 100%;
  max-width: 100%;
  background-color: white;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-shrink: 1;
}

// #single-fish-info-container {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   padding: 30px;
//   border: white 3px;

// }

#fish-info-container {
  margin-left: 30px;
  width: 1000px;
  height: 1000px;
  padding: 30px;
  border: white solid 20px;
  padding: 20px;
  background-color: lightblue;
  flex-shrink: 1;
}


#fish-name {
  font-weight: bold;
  font-size: 50px;
  margin-left: 20px;
}

#fish-location li,
#fish-description li {
  margin-left: 35px;
}

h2 {
  font-size: 40px;
  margin-left: 25px;
}


.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;

}

.svg-container {
  border: solid green 5px;
  position: relative;
  background-color: white;
  margin-top: 30px;
  padding-right: 200px;
  border: 4px solid black; 

  li {
    font-size : 25px;
    list-style: square;
    marker: {
      font-size: 100px;
      font-weight: bolder;
    }
  }

  

  

  .sigabove {
    color: rgb(0,100,0)
  }
  .above {
  //   position: absolute;
  //   border: 3px solid red;
  //   display: inline;
  //   font-size: 16px;
  //   left: 700px;
  //   padding-right: 300px;


  }
  .sigbelow {
  //   position: absolute;
  //   border: 3px solid red;
  //   display: inline;
  //   font-size: 16px;
  //   left: 700px;
  color: red;
  }
  // .below {
  //   position: absolute;
  //   border: 3px solid red;
  //   display: inline;
  //   font-size: 16px;
  //   left: 700px;
  //   padding-top: 75px;
  // }
  // .near {
  //   position: absolute;
  //   border: 3px solid red;
  //   display: inline;
  //   font-size: 16px;
  //   padding-top: 100px;
  // }
  // .unknown {
  //   position: absolute;
  //   border: 3px solid red;
  //   display: inline;
  //   font-size: 16px;
  //   left: 700px;
  //   padding-top: 125px;
  // }

}





button {
  cursor: pointer;
  margin-top: 30px;
  margin-left: 30px;
  color: rgb(51, 51, 51);
  padding: 10px;
  border-radius: 24px;
  border: 4px solid black;
  background-color: white;
}

